{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header"><a href="#">Степан Гіга </a><span class="text-muted">(історія хвороби)</span>&nbsp;&nbsp;<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;   Редагувати</button>
  </div></h1>
  <br>
  <h4 class="sub-header"><span class="text-muted">Попередній діагноз:</span> Гостре распіратоне захворювання  </h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <td class="col-md-2">Заключний діагноз:</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Дата початку:</td>
        <td>15/11/2014</td>
      </tr>
      <tr>
        <td>Дата закінчення:</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Доктор:</td>
        <td>Василь Василенко</td>
      </tr>
      <tr>
        <td>Скарги на здоров’я:</td>
        <td>Біль у горлі, нежить, почервоніння очей, загальна слабкість</td>
      </tr>
      <tr>
        <td>Анамнез:</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Об’єктивне обстеження: </td>
        <td>-</td>
      </tr>
      <tr>
        <td>Супутні захворювання:</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Ускладення: </td>
        <td>-</td>
      </tr>
      <tr>
        <td>План лікування: </td>
        <td>-</td>
      </tr>
    </table>
  </div>

{% endblock %}