{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Поточні пацієнти</h2>
 <div class="form-inline">
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              Мої пацієнти&nbsp;
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Пацієнти відділення&nbsp;
            </label>
          </div>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
        </div>
        <br>
  <div class="table-responsive">
    <table data-link="row" class="table table-striped rowlink">
      <thead>
        <tr>
          <th>Дата надходження</th>
          <th>Ім’я пацієнта</th>
          <th>Діагноз</th>
          <th>Палата</th>
        </tr>
      </thead>
      <tbody>
        <tr>                  
          <td><a href="/history/1">15/11/2014</a></td>
          <td>Степан Гіга</td>
          <td>Гостре распіраторне захворювання</td>
          <td>111</td>
        </tr>

        <tr>                  
          <td><a href="/history/2">15/11/2014</a></td>
          <td>Величко</td>
          <td>Застуда</td>
          <td>121</td>
        </tr>
        
        <tr>
          <td>01/11/2014</td>
          <td>Амосов</td>
          <td>Нудота</td>
          <td>134</td>
        </tr>
       
        <tr>
          <td>01/11/2014</td>
          <td>Вакула</td>
          <td>Температура</td>
          <td>122</td>
        </tr>
        
        <tr>
          <td>29/10/2014</td>
          <td>Петренко</td>
          <td>Запаморочення голови</td>
          <td>125</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>

{% endblock %}