{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Виписані рецепти</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Виписано</th>
          <th>Назва препарату</th>
          <th>Ім’я пацієнта</th>
          <th>Попередній діагноз</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>                  
          <td>15/11/2014</td>
          <td>Парацетамол</td>
          <td>Величко</td>
          <td>Застуда</td>
        </tr>
        
        <tr>
          <td>01/11/2014</td>
          <td>Лінекс 500мг</td>
          <td>Амосов</td>
          <td>Нудота</td>
        </tr>
       
        <tr>
          <td>01/11/2014</td>
          <td>Парацетамол</td>
          <td>Вакула</td>
          <td>Температура</td>
        </tr>
        
        <tr>
          <td>29/10/2014</td>
          <td>Анальгін</td>
          <td>Петренко</td>
          <td>Запаморочення голови</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>

{% endblock %}